
.title {
    text-align: center;
    width: 100%;
}

.spacing {
    height: 20px;
}

.list {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .list > * {
    margin: 3px;
}

.list .list {
    line-height: 0px;
}

.list > * {
    margin: 5px;
}

.list .list > * {
    margin: 0.5px;
}

.list .list > .image-container {
    margin: 0.5px;
    border: none;
    padding: 0px;
}

.region, .number {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.image-container {
    border: 2px solid transparent;
    padding: 1px;
}

.image-container.selected {
    border: 2px solid #1c7ecc;
    border-radius: 2px;
    padding: 1px;
}

div.image {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inspection-box {
    width: 200px;
    height: 200px;
}

.inspection-box {
    display: block;
    position: fixed;
    z-index: 1;
    top: 280px;
    left: 280px;
}


.inspection-table-box {
    width: 210px;
    height: 200px;
}

.inspection-table-box {
    display: block;
    position: fixed;
    z-index: 1;
    top: 280px;
    left: 280px;
}

.inspection-table-box table {
    border: 3px double black;
    background: #fffffffb;
    border-radius: 2px;
    width: 100%;
    height: 100%;

    border-collapse: collapse;
}

.inspection-table-box table {
    font-size: small;
    font-family: Consolas, 'Courier New', Courier, monospace;
    text-align: right;
}

.inspection-table-box table tr {
    border-top: 1px solid #f3f3f3;
}

.inspection-table-box table td.left {
    border-left: 1px solid #f0f0f0;
}

.inspection-table-box table td:before,
.inspection-table-box table td:after {
    color: #eee;
}

.inspection-table-box:not([channel-count="0"]) table td.left:after {
    content: '[';
}

.inspection-table-box[channel-count="3"] table td:not(.i2):not(.left):not(.right):after {
    content: ',';
}

.inspection-table-box:not([channel-count="0"]) table td.right:before {
    content: ']';
}


.image-zoom {
    image-rendering: pixelated;
}

/*.value div.image:hover {
    resize: both;
}*/

/*.value img.image {
    width: 100%;
    height: auto;
    display: inline-flex;
}*/

table.array {
    border-collapse: collapse;
}

table.array td {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 0.5em;
    text-align: center;
    border: 0.5px solid #eee;
    border-collapse: collapse;
    min-height: 8px;
}

table.array tr:last-child, .array tr:last-child td {
    border: none;
}

.dictionary {
    font-size: 0.95em;
}

.dictionary .key {
    font-family: Consolas, 'Courier New', Courier, monospace;
    text-align: right;
}

.dictionary .key:after {
    color: #ccc;
    font-weight: lighter;
    content: ':';
}

button {
    user-select: none;
}

#clipboard-input {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.clipboard-button {
    cursor: pointer;
}

.commitment-interval-input {
    width: 37px;
    text-align: center;
}

.reset-button {
    /*background: none;*/
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.reset-button:hover {
    background: white;
    border: 1px solid gray;
    color: red;
}

.download-in-progress {
    cursor: wait;
}

.github-icon:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.github-icon:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}
